@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2a2a2a;
  font-family: "Lora", serif;
  color: #f1f1f1;
  position: relative;
  overflow-x: hidden;
}

#mouse {
  display: block;
  background-color: transparent;
  height: 60px;
  width: 60px;
  position: absolute;
  border-radius: 999px;
  z-index: -2;
  background: radial-gradient(93% 93% at 8% 128%, rgb(255, 238, 194) 0%, rgba(255, 238, 194, 0.2) 60%, rgba(194, 233, 255, 0) 100%), radial-gradient(49% 88% at 27% -14%, rgba(93, 227, 236, 0.73) 0%, rgba(93, 227, 236, 0.17) 60%, rgba(93, 227, 236, 0) 100%), radial-gradient(115% 156% at 90% 89%, rgb(75, 254, 222) 0%, rgba(75, 254, 222, 0) 100%), linear-gradient(234deg, rgb(69, 74, 187) 25%, rgba(69, 74, 187, 0.77) 35%, rgba(69, 74, 187, 0.4) 50%, rgba(91, 196, 229, 0) 84%), radial-gradient(119% 119% at 3% 26%, rgb(48, 142, 230) 0%, rgba(48, 158, 230, 0) 74%), linear-gradient(360deg, rgb(242, 245, 250) 0%, rgb(242, 245, 250) 100%);
  filter: blur(60px);
}
@media (max-width: 768px) {
  #mouse {
    display: none;
  }
}

section {
  padding: 0 10rem;
}

#hero {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  #hero {
    padding: 0;
    height: 50vh;
  }
}

.absolute {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.bg {
  z-index: -1;
}

.w-full {
  width: 100%;
}

.top {
  top: 0;
}

.left {
  left: 0;
}

.blur-2 {
  filter: blur(2rem);
}

.right {
  right: 0;
}

.bottom {
  bottom: 0;
}

#heading {
  width: 30%;
}
#heading h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
}
#heading h1 span {
  font-weight: bold;
  color: #febe98;
}
@media screen and (max-width: 768px) {
  #heading {
    width: 70%;
  }
}

.logo {
  width: 100%;
  fill: #febe98;
  position: relative;
}
.logo::after {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background-color: #febe98;
  position: absolute;
  bottom: 1rem;
  z-index: -1;
}

#about {
  position: relative;
}
#about div {
  display: flex;
  position: relative;
  width: 70%;
  margin: 0 auto;
  align-items: center;
}
#about div h2 {
  color: #febe98;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
}
#about div span {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.5rem;
  border-left: solid 5px #febe98;
  padding: 1rem 1.25rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
@media screen and (max-width: 768px) {
  #about div span {
    border-left: none;
  }
}
#about div::before {
  position: absolute;
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #febe98, rgba(0, 0, 0, 0));
  top: 0;
}
#about div::after {
  position: absolute;
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #febe98, rgba(0, 0, 0, 0));
  bottom: 0;
}
@media screen and (max-width: 768px) {
  #about div {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  #about {
    padding: 0;
  }
}

#people {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
@media screen and (max-width: 768px) {
  #people {
    padding: 0;
  }
}

#carrossel {
  display: flex;
  gap: 10px;
  padding: 50px;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50%;
}

#previous,
#next {
  position: absolute;
  color: #2a2a2a;
  font-weight: bold;
  background-color: #febe98;
  width: 3rem;
  height: 3rem;
  z-index: 3;
  border-radius: 999px;
  top: 50%;
  transform: translateY(-50%);
}

#previous {
  left: 0;
}

#next {
  right: 0;
}

.item-1 {
  left: 50%;
  transform: translateX(-100%);
  z-index: 1;
}

.item-2 {
  left: 50%;
  transform: translateX(-50%);
}

.item-3 {
  left: 50%;
  transform: translateX(0);
  z-index: 1;
}

.item-4 {
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.profile {
  width: 10rem;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(3px 7px 53px rgba(0, 0, 0, 0.5));
  border-radius: 15px;
  background-color: #2a2a2a;
  transition: all 0.5s;
  position: absolute;
}
.profile div {
  background-color: #febe98;
  width: 100%;
  height: 10rem;
  position: relative;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
@media screen and (max-width: 768px) {
  .profile div {
    height: 10rem;
  }
}
.profile div img {
  position: absolute;
  bottom: 0;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.profile figcaption {
  text-align: center;
  padding: 0.5rem 0;
}
.profile figcaption h3 {
  color: #febe98;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
  gap: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.profile figcaption h3::before, .profile figcaption h3::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: #febe98;
}
.profile figcaption h5 {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem;
}
@media screen and (max-width: 768px) {
  .profile {
    width: 10rem;
  }
}

.active {
  width: 15rem;
  z-index: 2;
}
.active div {
  background-color: #87ceeb;
  height: 15rem;
}
.active div img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 768px) {
  .active div {
    height: 15rem;
  }
}
@media screen and (max-width: 768px) {
  .active {
    width: 15rem;
  }
}

#visao {
  background-color: #febe98;
  display: flex;
  height: 40vh;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: #2a2a2a;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
#visao h2 {
  font-weight: normal;
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem;
}
#visao h2 span {
  font-weight: bold;
}
#visao p {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem;
}
#visao div {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media screen and (max-width: 768px) {
  #visao div {
    width: 100%;
  }
}
#visao img {
  border-radius: 999px;
  height: 100%;
}
@media screen and (max-width: 768px) {
  #visao img {
    width: 50%;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  #visao {
    flex-direction: column;
    padding: 1.5rem 2rem;
    height: unset;
  }
}

.w-2 {
  height: 50% !important;
}

#valores {
  padding-top: 3rem;
  height: 60vh;
  position: relative;
}
#valores div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  gap: 5rem;
  text-align: justify;
  font-size: 1rem; /* 16px */
  line-height: 1.5rem;
}
#valores div img {
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #2a2a2a;
  border-radius: 25px;
  border: solid 3px #febe98;
  padding: 0.5rem;
  width: 100%;
  height: 10rem;
}
@media screen and (max-width: 768px) {
  #valores div {
    flex-direction: column-reverse;
    gap: 1rem;
  }
}
@media screen and (max-width: 768px) {
  #valores {
    padding: 4rem 0 0;
  }
}

.left-2 {
  left: -20%;
  filter: blur(2rem);
}

footer {
  position: relative;
  height: 10rem;
}

.rotate {
  transform: rotate(180deg);
}/*# sourceMappingURL=style.css.map */